.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.todo-app {
  padding-top: 20px;
  display: inline-block;
  text-align: left;
}

input {
  font-size: 20px;
  padding-left: 12px;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

li span.delete-item {
  visibility: hidden;
}

span.delete-item a {
  color: crimson;
  text-decoration: none;
}

li:hover span.delete-item {
  visibility: visible;
}

.error, .success {
  display: block;
  padding: 12px 12px;
  font-size: 16px;
  color: crimson;
}

.success {
  color: greenyellow;
}

.footer a {
  color: lightblue;
  padding: 4px 12px;
  text-decoration: none;
}

.footer a.active {
  font-weight: bold;
  color: cornflowerblue;
}
